@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    section {
        @apply py-16;
        @apply px-5;
    }
}


@layer components {
    .contain-text {
        @apply bg-back;
        @apply p-[2px]
    }

    .pattern-polka {
        background-color: #fff8be;
        opacity: 1;
        background-image: radial-gradient(#1f1400 0.95px, #fff8be 0.9500000000000001px);
        background-size: 19px 19px;
    }
}